<!DOCTYPE html>
<html>
    
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="icon" href="images/logo.png">
	<link rel="stylesheet" type="text/css" href="../css/styleLogin.css">
	<script src="https://kit.fontawesome.com/4cafcb1c1a.js" crossorigin="anonymous"></script>
</head>

<body class="main-bg">
	<div class="login-container text-c animated flipInX">
        <div>
            <h1 class="logo-badge text-whitesmoke"><i class="fas fa-user-circle"></i></h1>
        </div>
            <h3 class="text-whitesmoke">Login</h3>
            
        <div class="container-content">
            <h3 class="margin-t text-whitesmoke">Usuário ou senha incorretos!</h3>
            <h3 class="margin-t text-whitesmoke">Caso tenha esquecido suas credenciais, entre em contato com o admistração do sistema.</h3>
            <button name="login" type="submit" class="form-button button-l margin-b"><a href="../view/login.html" class="submit-button">Tentar novamente</a></button>
            <p class="margin-t text-whitesmoke"><small> Sarah Livraria Web &copy; 2021</small> </p>
        </div>
    </div>
</body>
</html>